@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@700&family=Phudu:wght@300&family=Playfair+Display&family=Rubik:wght@800&display=swap');

$font-color: rgb(255, 255, 255);
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
// $accent-color: #59291D;
$background-color: #053022;
$background-alternative-color: #e0fbfc;

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;